* { box-sizing: border-box;}

html {scroll-behavior: smooth;}

body {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 1px;
}

.button {
  display: inline-block;
  background: #FF9900;
  color: #fff;
  font-weight: bold;
  transition: background-color .3s linear;
  -moz-transition: background-color .3s linear;
  -webkit-transition: background-color .3s linear;
}

.button:hover {
  background-color: rgba(255, 153, 0, 0.6);
  cursor: pointer;
}

.button:active {
  background-color: #E1670E;
}

.burger {
  width: 30px;
  height: 23px;
  padding: 0;
  border: none;
  display: none;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: background-color .3s ease-out;
  animation: anim .5s ease-out infinite alternate;
}

.burger:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.burger__item {
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  top: 0;
  background-color: #333;;
  transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
}

.fa-mobile-alt {
  margin-left: 10px;
}

.burger__item::before,
.burger__item::after {
  content: '';
  left: 0;
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #333;
}

.burger__item::before {
  top: 10px;
}

.burger__item::after {
  top: 20px;
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 10px;
}

.header__link {
  transition: color .3s ease-out;
}

.header__link:hover {
  color: orange;
}

.header__link_bank {
  border-bottom: 2px solid orange;
}

.header__close {
  display: none;
  transition: transform .3s ease-out;
}

.header__close:hover {
  transform: scale(1.2);
}


.hero {
  background-color: #333;
  padding-bottom: 20px;
}

.hero__container {
  padding: 0;
  text-align: center;
}

.hero__title {
  display: flex;
  justify-content: center;
}

.hero__title-text {
  color: #fff;
  font-size: 60px;
  margin: 10px;
  text-shadow: 1px 1px 3px #111;
}

.swiper-container {
  width: 100%;
  height: 700px;
  padding: 5px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #fff;
}

.swiper-slide {
  align-items: center;
  position: relative;
  padding: 5px;
  text-align: center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services,
.bank {
  position: relative;
  padding-right: 12px;
}

.services::after,
.bank::after {
  cursor: pointer;
  content: '';
  position: absolute;
  right: 0;
  top: 20%;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
}

.bank__list {
  margin: 0;
  padding: 0;
}

.services__list,
.bank__list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  position: absolute;
  right: 0;
  background-color: #fff;
  transform: scaleY(0);
  text-align: left;
  transform-origin: top;
  padding: 10px;
  transition: transform .3s ease-out;
  text-align: center;
  z-index: 1000;
  box-shadow: 0px 0px 10px 1px;
}

.services__item:not(:last-child),
.bank__item:not(:last-child) {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.services__item:not(:last-child):after,
.bank__item:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #333;
}

.services:hover>.services__list {
  transform: scaleY(1);
}

.swiper-slide-1 {background-image: url(images/1.jpg);}
.swiper-slide-2 {background-image: url(images/2.jpg);}
.swiper-slide-3 {
  background-image: url(images/3.jpg);
  background-position: center;
}
.swiper-slide-4 {
  background-image: url(images/4.jpg);
  background-position: right center;

}
.swiper-slide-5 {
  background-image: url(images/5.jpg);
}
.swiper-slide-6 {background-image: url(images/6.jpg);}
.swiper-slide-7 {background-image: url(images/7.jpg);}
.swiper-slide-8 {background-image: url(images/8.jpg);}
.swiper-slide-9 {background-image: url(images/9.jpg);}


.swiper-button-prev,
.swiper-button-next {
  background-color: #333;
  border-radius: 3px;
  transition: opacity .3s ease-out, background-color .3s ease-out;
  opacity: .5;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid #fff;
}

.swiper-button-prev::after {
  left: 8px;
  transform: rotate(45deg);
}

.swiper-button-next::after {
  right: 8px;
  transform: rotate(-135deg);
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.hero-slides__link:hover {
  background-color: rgba(0, 0, 0, .3);
}

.hero-slides__title {
  position: relative;
  margin-top: 10px;
  font-size: 35px;
  text-shadow: 1px 1px 3px #111;
}

.hero-slides__button {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 85px);
  width: 170px;
  padding: 10px;
  background-color: #333;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border: none;
  border-top: 1px solid orange;
  opacity: .9;
  transition: color .3s ease-out, background-color .3s ease-out, opacity .3s ease-out;
}

.hero-slides__button:hover {
  background-color: #fff;
  color: #333;
  opacity: 1;
}

.hero__button {
  padding: 10px 15px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  transition: border-color .3s ease-out, background-color .3s ease-out;
}

.hero__button:hover {
  background-color: orange;
  border-color: orange;
}

.aboutus__container {
  padding: 20px;
}



.aboutus__title {
  position: relative;
  margin: auto;
  width: 80%;
  padding: 20px;
  text-align: center;
  border-top: 3px solid orange;
}

.aboutus__title::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 100%;
  border-top: 3px solid orange;
  border-left: 3px solid orange;
  border-bottom: 3px solid orange;
}

.aboutus__title::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0px;
  width: 30px;
  height: 100%;
  border-top: 3px solid orange;
  border-right: 3px solid orange;
  border-bottom: 3px solid orange;
}

.aboutus__text {
  text-align: left;
  text-indent: 20px;
  padding: 10px 0;
}

.callus__container {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  padding-bottom: 100px;
  background-image: url(images/form.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: -40px bottom;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

.callus__row {
  margin-right: 100px;
}

.callus__title,
.form__title {
  margin-top: 0;
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__item {
  text-align: center;
  font-size: 20px;
}

.contacts__item {
  margin-bottom: 20px;
} 

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form__input {
  padding: 10px;
  border: 1px solid #999;
}

.form__button {
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border-top: 2px solid orange;
}

.social {
  display: flex;
  justify-content: center;
}

.messegers {
  margin-bottom: 15px;
}

.social__link {
  font-size: 30px;
}

.social__item:not(:last-child) {margin-right: 15px;}

.social__link_whatsapp {color: #25D366;}
.social__link_viber {color: #7360f2;}
.social__link_telegram {color: #0088CC;}
.social__link_vk {color: #2787F5;}
.social__link_facebook {color: #3b5998;}
.social__link_twitter {color: #00ACEE;}
.social__link_odnoklassniki {color: #ED812B;}
.social__link_pinterest {color: #E60023;}
.social__link_yandex {color: #ff0000;}

.social__link:hover .fab {
  animation: anim .5s ease-out infinite alternate;
}

.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  body {
    margin-top: 55px;
  }

  .header__container {
    flex-direction: column;
  }
  
  .header__location {
    margin-bottom: 20px;
  }

  .header__item:not(:last-child) {
    margin: 0;
    margin-bottom: 10px;
  }

  .header__link {
    display: inline-block;
    padding: 5px;
  }

  .header__close {
    border: none;
    background-color: transparent;
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .swiper-container {
    height: 600px;
  }

  .hero-slides__title {
    font-size: 28px;
  }

  .services__list {
    right: 20%;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 75px;
  }
  .header__nav {
    font-size: 12px;
    justify-content: center;
  }

  .header__list {
    width: 99%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .swiper-container {
    height: 1300px;
  }

  .swiper-slide-1 {
    background-image: url(images/1-mobile.jpg);
    background-position: bottom;
  }
  .swiper-slide-2 {
    background-image: url(images/2-mobile.jpg);
  }
  .swiper-slide-3 {
    background-image: url(images/3-mobile.jpg);
  }
  .swiper-slide-4 {
    background-image: url(images/4-mobile.jpg);
  }
  .swiper-slide-5 {
    background-image: url(images/5-mobile.jpg);
    background-position: top;
  }
  .swiper-slide-6 {
    background-image: url(images/6-mobile.jpg);
  }
  .swiper-slide-7 {
    background-image: url(images/7-mobile.jpg);
    background-position: bottom;
  }
  .swiper-slide-8 {
    background-image: url(images/8-mobile.jpg);
  }

  .services__list {
    font-size: 12px;
  }

  .header__location {
    font-size: 12px;
  }

  .callus__container {
    padding-top: 220px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-position: center 30px;
    background-size: 300px;
  }

  .callus__row {
    margin-right: 0;
  }
}

@keyframes anim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}


.modal {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  width: 100%;
  height: 100%; 
  background-color: rgba(51, 51, 51, .6);
  transition: transform .3s ease-out;
  visibility: hidden;
}

.modal_active .modal__content {
  transform: scale(1);
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 50px 20px;
  background-color: #fff;
  transform: scale(0);
  transition: transform .3s ease-out;
}

.modal__input {
  margin-top: 5px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: transform .3s ease-out;
}

.modal__close:hover {
  transform: scale(1.2);
}

.modal_active {
  visibility: visible;
}

.modal__block {
  display: flex;
  flex-direction: column;
  transform: scale(1);
}

.modal__textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  resize: none;
}

.modal__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}


.modal__checkbox {
  font-size: 12px;
  margin-bottom: 20px;
}

.modal__text {
  font-size: 12px;
}

.modal__button {
  width: 170px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  margin: 0 auto;
  font-weight: bold;
  border: none;
  border-top: 2px solid orange;
  transition: color .3s ease-out, background-color .3s ease-out;
}

.modal__button:hover {
  background-color: orange;
  color: #fff;
}