* { box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {cursor: pointer;}

.container {
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: flex-end;
}

.header__list {
  display: flex;
  padding: 10px;
}

.header__item:not(:last-child) {
  margin-right: 10px;
}

.hero {
  background-color: #666;
  padding-bottom: 20px;
}

.hero__title {
  display: flex;
  justify-content: center;
}

.hero__title-text {
  color: #fff;
}

.swiper-container {
  width: 100%;
  height: 700px;
  padding: 5px;
  background-color: #fff;
  color: #fff;
}

.swiper-slide {
  position: relative;
  padding-top: 50px;
  padding: 50px 20px 20px;
  text-align: center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide-1 {background-image: url(images/1.jpg);}
.swiper-slide-2 {background-image: url(images/2.jpg);}
.swiper-slide-3 {background-image: url(images/1.jpg);}
.swiper-slide-4 {background-image: url(images/2.jpg);}
.swiper-slide-5 {background-image: url(images/1.jpg);}
.swiper-slide-6 {background-image: url(images/2.jpg);}


.swiper-button-prev,
.swiper-button-next {
  transition: opacity .3s ease-out;
}

.swiper-button-prev:after,
.swiper-button-next:after {content: '';}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.hero-slides__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  transition: background-color .3s ease-out;
}

.hero-slides__link:hover {
  background-color: rgba(0, 0, 0, .3);
}

.hero-slides__title {
  position: relative;
  display: flex;
  justify-content: center;  
  z-index: 100;
}

.hero-slides__title-text {
  font-size: 30px;
  font-weight: normal;
}

.hero-slides__text {
  position: absolute;
  bottom: 0px;
  left: 0;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
}

.aboutus__container {
  text-align: center;
  padding: 20px;
}

.aboutus__button {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: transparent;
  color: #666;
  border: 2px solid #666;
  transition: color .3s ease-out, background-color .3s ease-out;
}

.aboutus__button:hover {
  background-color: #666;
  color: #fff;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__link {font-size: 25px;}

.social__item:not(:last-child) {margin-right: 10px;}

.social__link_whatsapp {color: #25D366;}

.social__link_viber {color: #7360f2;}

.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}