* { box-sizing: border-box;}

*:focus {
  outline: none;
}

html {scroll-behavior: smooth;}

button {
  position: relative;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: inherit;
  background-color: transparent;
  border: none;
}

body {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {cursor: pointer;}

.container {
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 1px;
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-contacts {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.header__block {
  display: flex;
  margin-left: 10px;
}

.header__title {
  max-width: 130px;
  margin: 0;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 10px;
}

.header__item_catalog {
  font-size: inherit;
  display: none;
}

.header__item_link {
  cursor: pointer;
  position: relative;
  border-bottom: 2px solid #fdc619;
}

.link__list {
  position: absolute;
  top: calc(100% + 5px);
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: top;
  box-shadow: 0px 3px 5px 0px;

  transition: transform .3s ease-out;
}

.header__item_link:hover .link__list {
  transform: scaleY(1);
}

.link {
  display: inline-block;
  padding: 5px;
}


.hero__container {
  background-image: url(images/page.jpg);
  padding: 0;
}

.hero__block {
  background-color: rgba(0, 0, 0, .5);
}

.hero__title {
  margin: 0;
  padding: 30px;
  padding-left: 70px;
  color: #fff;
  text-shadow: 1px 1px 10px #111;
}

.main__container {
  padding-left: 20px;
  display: flex;
}

.main__title {
  position: relative;
  width: 80%;
  padding: 20px;
  text-align: center;
  border-top: 3px solid #fdc619;
}

.main__title::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 100%;
  border-top: 3px solid #fdc619;
  border-left: 3px solid #fdc619;
  border-bottom: 3px solid #fdc619;
}

.main__title::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0px;
  width: 30px;
  height: 100%;
  border-top: 3px solid #fdc619;
  border-right: 3px solid #fdc619;
  border-bottom: 3px solid #fdc619;
}

.inner-list {
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  transition: max-height 0.2s ease-out;
}

.nav {
  margin-right: 30px;
}

.nav__block {
  position: sticky;
  top: 70px;
}

.nav__title {
  font-size: 13px;
}

.nav__button,
.nav__button_open {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.nav__button_open::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 8px;
  width: 5px;
  height: 5px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
}

.nav__button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -8px;
  border: 2px solid #333;
  border-radius: 50%;
}

.nav__button_active::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 50%;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
}

.main__content {
  width: 100%;
}

.home__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home__item {
  flex: 0 0 24%;
  justify-content: space-between;
} 

.home__img {
  width: 100%;
  margin-bottom: 20px;
}

.home__text {
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.cars {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.cars__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cars__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 0 0 33%;
}

.cars__item-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 40px;
  text-align: center;
}

.cars__buttons {
  width: 60%;
}

.cars__button {
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  text-transform: uppercase;
}

.cars__button_order {
  background-color: #fdc619;
  margin-bottom: 10px;
}

.cars__button_more {
  background-color: #111;
  color: #fff;
}

.cars__image {
  height: 150px;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__input {
  padding: 10px;
  border: 1px solid #CCC;
}

.form__button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer__container {
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.equipment__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.equipment__item {
  flex: 0 0 22%;
  text-align: center;
}

.equipment__img {
  width: 80%;
}

.equipment__img_cat {
  width: 60%;
}

.equipment__item_transform {
  transform: scale(-1, 1);
}

.home-link {
  font-size: 20px;
  text-decoration: underline;
}

.worktype__container {
  display: flex;
  flex-wrap: wrap;
}

.worktype-row {
  flex: 50%;
  padding: 5px;
}

.worktype__row_second {
  padding: 20px;
  border-left: 1px solid #ccc;
}

.worktype-row__list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.worktype-row__item {
  width: 30%;
  text-align: center;
}

.worktype-row__image {
  width: 80px;
  border-radius: 50%;
}

.worktype-row__text {
  font-size: 12px;
}

.modal-arend {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

.modal-arend_active {
  display: flex;
}

.modal-arend__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 500px;
  padding: 30px 20px;
  background-color: #fff;
}

.modal-arend__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-arend__input {
  margin-top: 5px;
  padding: 7px;
  border: 1px solid #ccc;
}

.modal-arend__submit {
  font-weight: bold;
  background-color: #fdc619;
  padding: 10px;
  border-radius: 20px;
}

.modal-arend__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
  .worktype__container {
    flex-direction: column;
  }

  .worktype__row_second {
    border: none;
  }

  .cars__buttons {
    width: 70%;
  }

  .cars__button  {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 100px;
  }

  .main__container {
    padding-left: 10px;
  }

  .header__contacts {
    top: 12px;
  }

  .header__container {
    flex-direction: column;
  }

  .header__block {
    align-self: start;
  }

  .header__title {
    margin-bottom: 10px;
  }

  .header__nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }

  .nav {
    background-color: #fff;
    position: fixed;
    top: 100px;
    left: 0;
    padding-left: 10px;
    width: 40%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease-out; 
    z-index: 100;
    box-shadow: 2px 2px 5px 1px #333;
  }

  .nav_active {
    display: block;
    transform: scaleX(1);
  }

  
  .header__item_catalog {
    display: inline;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

@media screen and (max-width: 425px) {
  .header__list {
    font-size: 12px;
  }

  .header__item:not(:last-child) {
    margin-right: 5px;
  }

  .hero__title {
    padding: 10px;
    text-align: center;
  } 

  .main__title {
    width: 90%;
    font-size: 12px;
  }

  .home__list {
    justify-content: space-between;
  }

  .cars__item {
    flex: 0 0 48%
  }

  .cars__buttons {
    width: 90%;
  }

  .home__item {
    flex: 0 0 48%;
  }

  .home__text {
    font-size: 12px;
  }
  .worktype-row__item {
    flex: 0 0 48%;
  }

  .form-section {
    flex-direction: column;
  }
  
  .equipment__item {
    flex: 0 0 45%;
  }
}