* { box-sizing: border-box;}

*:focus {
  outline: none;
}

html {scroll-behavior: smooth;}

body {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

ul {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {cursor: pointer;}

.container {
  max-width: 1440px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header {
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 1px;
}

.header__block {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.header__title {
  max-width: 130px;
  margin: 0;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 10px;
}

.hero__container {
  background-image: url(images/page.jpg);
  padding: 0;
}

.hero__block {
  background-color: rgba(0, 0, 0, .5);
}

.hero__title {
  margin: 0;
  padding: 30px;
  padding-left: 70px;
  color: #fff;
  text-shadow: 1px 1px 10px #111;
}

.main__container {
  padding-left: 20px;
  display: flex;
}

.main__title {
  position: relative;
  display: inline-block;
  width: 80%;
  padding: 20px;
  text-align: center;
  border-top: 3px solid #EE0;
}

.main__title::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 30px;
  height: 100%;
  border-top: 3px solid #EE0;
  border-left: 3px solid #EE0;
  border-bottom: 3px solid #EE0;
}

.main__title::after {
  content: '';
  position: absolute;
  top: -3px;
  right: 0px;
  width: 30px;
  height: 100%;
  border-top: 3px solid #EE0;
  border-right: 3px solid #EE0;
  border-bottom: 3px solid #EE0;
}

.inner-list {
  max-height: 0;
  overflow: hidden;
  padding-left: 30px;
  transition: max-height 0.2s ease-out;
}

.nav {
  margin-right: 30px;
}

.nav__block {
  position: sticky;
  top: 70px;
}

.nav__title {
  font-size: 13px;
}

.nav__button {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: transparent;
  border: none;
}

.nav__button_open::after {
  content: '';
  position: absolute;
  right: 5px;
  top: 8px;
  width: 5px;
  height: 5px;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-45deg);
}

.nav__button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  margin-top: -8px;
  border: 2px solid #333;
  border-radius: 50%;
}

.home__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home__item {
  flex: 0 0 24%;
  justify-content: space-between;
} 

.home__img {
  width: 100%;
  margin-bottom: 20px;
}

.home__text {
  padding: 10px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
}

.cars {
  width: 100%;
}

.cars__list {
  display: flex;
  flex-wrap: wrap;
}

.cars__item {
  flex: 0 0 33%;
  border: 1px solid red;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid red;
  padding: 50px 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__input {
  padding: 10px;
  border: 1px solid #CCC;
}

.form__button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
}

.footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer__container {
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 25px;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.equipment__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.equipment__item {
  flex: 0 0 22%;
  text-align: center;
}

.equipment__img {
  width: 80%;
}

.equipment__img_cat {
  width: 60%;
}

.equipment__item_transform {
  transform: scale(-1, 1);
}

.home-link {
  font-size: 20px;
  text-decoration: underline;
}

.worktype__container {
  display: flex;
  flex-wrap: wrap;
}

.worktype-row {
  flex: 50%;
}

.worktype__row_second {
  padding: 20px;
  border-left: 1px solid #ccc;
}

.worktype-row__list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
}

.worktype-row__item {
  width: 30%;
  text-align: center;
}

.worktype-row__image {
  width: 80px;
  border-radius: 50%;
}

.worktype-row__text {
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .worktype__container {
    flex-direction: column;
  }

  .worktype__row_second {
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .main__container {
    padding-left: 10px;
  }

  .header__block {
    flex-direction: column;
  }

  .nav {
    width: 0;
    transition: width .3s ease-out;
    overflow: hidden;
  }

  .nav_active {
    width: 700px;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

@media screen and (max-width: 425px) {
  .home__list {
    justify-content: space-between;
  }

  .home__item {
    flex: 0 0 48%;
  }

  .home__text {
    font-size: 12px;
  }

  .worktype-row__item {
    flex: 0 0 48%;
  }

  .form-section {
    flex-direction: column;
  }
  
  .equipment__item {
    flex: 0 0 45%;
  }
}